@page
@model AdvancedProgramming_Lesson4.Pages.HistoryModel

@{
    ViewData["Title"] = "History";
}

<h1>History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChatMessage[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChatMessage[0].Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ChatMessage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
}
    </tbody>
</table>
